@import url('https://fonts.googleapis.com/css2?family=Georama:wght@300&display=swap');

:root {
  --blue: #143D59;
  --orange: #F4B41A;
}

body {
  text-align: center;
  background: var(--blue);
  font-family: 'Georama', sans-serif;
  margin left: auto;
  margin right: auto;
}

header {
  background: var(--orange);
  padding-bottom: 20px;
  color: var(--blue);
  margin: 20px;

}

header h1 {
  font-size: 110px;
  text-shadow: 1px 1px;
  margin: 30px 0px 10px 0px;
}

header h2 {
  font-size: 40px;
  margin: 10px 0px 0px 0px;
}

main {
  margin: 70px;
}

span {
  color: white;
  font-size: 110px;
}

button {
  background-color: silver;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 20px;
  transition-duration: 0.4s;
}

button:hover {
  filter: brightness(150%);
}

#stop {
  background-color: firebrick;
}

#start {
  background-color: #4CAF50;
}

#reset {
  background-color: darkorange;
}
